@import url("https://fonts.googleapis.com/css2?family=Alkatra&display=swap");
body {
  background: #ff8008;
  background: -webkit-linear-gradient(to right, #ffc837, #ff8008);
  background: linear-gradient(to right, #ffc837, #ff8008);
}
#txt {
  font-size: 150px;
  width: fit-content;
  padding: 2%;
  margin-left: 40%;
  font-family: "Alkatra", cursive;
  margin-top: 10%;
  color: aliceblue;
  background-color: black;
  border-radius: 5%;
}
